<div class="card my-5" style="width: 50%; margin: 0 auto; background-color: lightgrey;">
    <div class="card-body">
        <form (ngSubmit)="onSubmit()" #typeForm="ngForm">
            <div class="form-group">
                <input style="width: 50%; margin: 0 auto;" type="text" [(ngModel)]="type.type" class="form-control text-center" id="type" name="type" placeholder="TYPE" required #name="ngModel">
                <!-- <div [hidden]="!name.pristine" class="alert alert-danger">Name is required</div> -->
            </div>
            <br>
            <div style="text-align: center; width: 100%;">
                <button type="submit" [disabled]="!typeForm.form.valid" class="btn btn-info">Submit</button>
            </div>
            
        </form>
    </div>
</div>